.container {
    position: relative;
    width: 100vw;
    height: 100vh;
    /* (300 - 100) / 2 */
    transform: translate(-100vw, -100vh);
    display: flex;
    justify-content: center;
    align-items: center;
}

.paper {
    position: absolute;
    width: 200vw;
    height: 200vh;
    display: flex;
    flex-wrap: wrap;
    /* start page1 */
    top: 100vh;
    left: 100vw;
}

.map{
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
}

.panel {
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.panel1 {
    background-color: #44B3C2;
}

.panel2 {
    background-color: #F1A94E;
}

.panel3 {
    background-color: #E45641;
}

.panel4 {
    background-color: #5D4C46;
}

.text {
    color: white;
    font-size: 3rem;
}
